table {
    width: 100%;
    background: rgb(199, 198, 198);
}

td {
    background: rgb(233, 230, 230);
}

.main {
    display: flex;
    margin-bottom: 20px;

    align-items: flex-end;
}

h3 {
    margin-top: 0;
    text-align: center;
}





.main_one{
    margin-right: 25px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}



