block variables
    - var title = 'Дикие животные'

    
    //-
        словарь для описания меню: элемент меню и название файла
    -
        var dictMenu = { 
            'Главная': 'index.html', 
            'Животные': "#",  
            'Справка': "#", 
            'Список': 'List.html'
        }
    //-
        список файлов с рисунками для раздела сайта images
    -
        var listImages = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg']
- var listImagesNew = ['bear.jpg', 'boar.jpg', 'lisa.jpg', 'nosorog.jpg', 'puma.jpg', 'racoon.jpg', 'ryas.jpg', 'slon.jpg']
	
    //-
        словарь для карточек (раздел section): заголовок, рисунок, текст
    - 
        var listSections = [
            {
                'header': 'Медведь',
                'image': 'bear.jpg', 
                'text': 'Бурый медведь (или обыкновенный медведь) — млекопитающее семейства медвежьих; один из самых крупных наземных хищников и один из самых распространённых представителей семейства медвежьих.Сейчас бурый медведь продолжает восстанавливать популяцию на большей части ареала; в остальных областях малочислен. В Западной Европе его разобщённыепопуляции сохранились на Пиренеях, Кантабрийских горах, Альпах и Апеннинах. Довольно распространён в Скандинавии и Финляндии, встречается влесах Центральной Европы и в Карпатах. В Финляндии бурый мед'
            },
            {
                'header': 'Кабан',
                'image': 'boar.jpg', 
                'text': 'Кабан (или вепрь) — парнокопытное млекопитающее из рода кабанов семейства свиных. Является предком домашней свиньи.Кабан — всеядное парнокопытное нежвачное млекопитающее из рода кабанов. Отличается от домашней свиньи, которая несомненно произошла от кабана (и других близких видов), обладает более коротким и плотным телом, более толстыми и высокими ногами; кроме того, голова у кабана длиннее и тоньше,'
            },
            {
                'header': 'Лиса',
                'image': 'lisa.jpg', 
                'text': 'Лисы — это мелкие или средние хищные млекопитающие из семейства псовых (Canidae). Наиболее известным представителем является красная лиса (Vulpes vulpes), распространенная в разных уголках мира. Лисы имеют стройное тело, длинный пушистый хвост и острые уши. Их шерсть может варьироваться по цвету от рыжего до серого, черного и белого в зависимости от вида. Лисы обитают в различных экосистемах,'
            },
            {
                'header': 'Носорог',
                'image': 'nosorog.jpg', 
                'text': 'Носороги — это крупные млекопитающие, принадлежащие к семейству носороговых (Rhinocerotidae). Существует пять основных видов носорогов, каждый из которых обладает уникальными чертами. Существует пять видов носорогов: белый носорог, черный носорог, индийский носорог, яванский носорог и суматранский носорог. Каждый вид отличается по размеру, форме рога и среде обитания. Носороги одни из самых крупных наземных млекопитающих. Взрослый белый носорог может весить до 2,5 тонн, а индийский носорог — около 2 тонн.'
            },
            {
                'header': 'Енот',
                'image': 'racoon.jpg', 
                'text': 'Еноты — это небольшие млекопитающие из семейства енотовых (Procyonidae), широко известные своим характерным внешним видом и юрким поведением. Еноты имеют плотное тело, короткие ноги и мощные лапы. Их шерсть обычно серого или бурого цвета с характерным черным "маской" на лице и кольцевым хвостом. В основном еноты распространены в Северной и Центральной Америке. Они обитают в разнообразных экосистемах, включая леса, парки, пригородные районы и даже городские пространства.'
            },
            {
                'header': 'Рысь',
                'image': 'ryas.jpg', 
                'text': 'Рыси — род хищных млекопитающих семейства кошачьих, наиболее близкий к роду кошек. Рысь — типичная кошка, хотя величиной с крупную собаку, которую отчасти напоминает своим укороченным телом и длинноногостью. Очень характерна голова рыси: сравнительно небольшая, округлая и очень выразительная. Рост обычной рыси достигает 55 см, канадской от 48 см до 56 см, а пиренейской — от 60 до 70 см.'
            },
            {
                'header': 'Слон',
                'image': 'slon.jpg', 
                'text': 'Слоны — это крупнейшие наземные млекопитающие, относящиеся к семейству слоновых (Elephantidae). Слоны известны своим впечатляющим размером, умом и социальным поведением. Существует три основных вида слонов — африканский слон (Loxodonta africana), африканский лесной слон (Loxodonta cyclotis) и индийский слон (Elephas maximus). Африканские слоны крупнее, имеют большие уши и более изогнутые бивни, чем индийские. Слоны могут достигать высоты до 4 метров в плечах и весить до 7 тонн (африканские слоны). Индийские слоны несколько меньше, достигая веса до 5 тонн.'
            }
        ]
	

    -
        var structures = [
        {
            menuItem: "Ворота Запада, США",  /* то, что отобразится в меню */
            pict: "image1_big.jpg", /* ссылка на рисунок */
            /* текст первого абзаца */
            firstP: `Арка в Сент-Луисе, также известная под именем «Врата на запад» — мемориал, являющийся частью Джефферсоновского национального экспансиального мемориала, а также визитной карточкой Сент-Луиса, штат Миссури, США.`,
            /*текст второго абзаца */
            secondP: `Арка была спроектирована финско-американским архитектором Ээро Саариненом в 1947 году. Её высота 192 метра в самой высокой точке, ширина её основания также 192 метра. 
            Таким образом арка является самым высоким памятником на территории США. Её строительство началось 12 февраля 1963 года и было закончено 28 октября 1965 года. Памятник открылся для посетителей 24 июля 1967 года.`
        },
        {
            menuItem: "Авичи-Арена, Швеция", 
            pict: "image2.jpg",
            firstP: `Авичи-Арена - 85-метровая многоцелевая арена в Стокгольме. Второе по величине сферическое сооружение в мире. Место проведения концертов и спортивных мероприятий. 
             Арена находится в микрорайоне Глобен-Сити, созданном специально для неё. Имеет вместимость 16 000 человек во время концертов и 13 850 во время хоккейных матчей.`,
            secondP: `Арена была построена специально к чемпионату мира по хоккею 1989 года и открыта 19 февраля 1989 года. Олицетворяет собой Солнце в Шведской Солнечной системе, крупнейшей в мире модели Солнечной системы.`
        },
        {
            menuItem: "Труба ГРЭС-2, Казахстан", 
            pict: "image3.jpg", 
            firstP: `Железобетонная дымовая труба, построенная в 1987 году, имея высоту 420 м, является самой высокой в мире и занесена в Книгу рекордов Гиннесса. 
             Суммарная масса трубы составляет 60 тысяч тонн, её диаметр у основания составляет 44 м, диаметр устья — 14,2 м.`,	 
            secondP: `ГРЭС-2 вырабатывает электроэнергию из высокозольного экибастузского угля двумя энергоблоками по 500 МВт, имеет установленную мощность 1000 МВт. Два её энергоблока вырабатывают около 12 % всей электроэнергии, 
              производимой в республике. Энергия ГРЭС-2 предназначена для обеспечения севера Казахстана. Потребителями являются десятки предприятий не только Казахстана, но и России.`
        },
        {
            menuItem: "Абрадж аль-Бейт, Саудовская Аравия", 
            dict: "image4.jpg", 
            firstP: `Башни «Абрадж аль-Бейт» являются самыми заметными зданиями в Мекке благодаря своему местоположению. Они находятся напротив (через улицу) от входа в мечеть аль-Харам, во дворе которой находится Кааба, 
             главная святыня ислама. Самая высокая башня в комплексе, которая служит отелем, призвана помочь в обеспечении жильём около 100 тыс. из более чем пяти миллионов паломников, которые ежегодно посещают Мекку для участия в хадже.`,
            secondP: `Самый высокий из небоскрёбов (601 м) — отель «Королевская часовая башня», строительство которого завершилось в 2012 году. Внешне здание отдалённо напоминает Биг-Бен в Лондоне, при этом выше последнего в 6 раз.
             На Королевской башне установлены часы диаметром 43 метра (длина часовой стрелки составляет 17 метров, минутной — 22), расположенные на высоте более 400 метров над землёй. 
             Четыре их циферблата установлены по четырём сторонам света. Часы видны из любого места города, и являются самыми большими и самыми высотными часами в мире.`
        },
        {
            menuItem: "Раффлз-Сити, Китай", 
            pict: "image5.jpg",
            firstP: `Раффлз-Сити — комплекс небоскрёбов, расположенный в китайском городе Чунцин, в деловом районе Юйчжун. Построен в 2019 году. Архитекторами комплекса выступили Моше Сафди и Чунцинский архитектурный институт, владельцем является сингапурская группа CapitaLand.`,
            secondP: `В состав многофункционального комплекса Раффлз-Сити входят восемь высотных башен и обширный подиум, в котором располагаются продуктовый супермаркет, магазины, автосалоны, рестораны, выставочные залы и паркинг. Общая площадь комплекса — свыше 1,1 млн м², 
             в том числе пятиэтажный торговый центр — 230 тыс. м², офисы — 160 тыс. м² и мультиплекс сети CGV — 5,6 тыс. м². В одной из 350-метровых башен Раффлз-Сити расположен пятизвёздочный отель InterContinental, 
             также в комплексе насчитывается 1,4 тыс. жилых апартаментов сети Ascott и 26,4 тыс. парковочных мест.`
        }
		
        ];
    -
        var PumaText = [
            {
                Text: 'Пума выглядит сильной кошкой, у нее очень гибкое тело, с длинным мускулистым хвостом. Лапы приспособлены для лазания по деревьям. Пума имеет короткую и густую шерсть.'
            },
            {
                Text: 'Длина тела пумы 100-180 см, длина хвоста 60-75 см. Высота в холке 60-90 см, вес пумы может достигать 100 кг. Примечательно, что самцы значительно крупнее самок. Средний вес женских особей колеблется в пределах 30-50 кг, а мужских – 60-80 кг.'
            },
            {
                Text: 'Пума – заграничный представитель больших диких кошек. Живет пума в Северной и Южной Америке, населяет довольно большую площадь, - от Юкона (Канада) до Патагонии (Южная Америка).'
            },
            {
                Text: 'Животное пума обитает в горных районах и не боится большой высоты. Также отдает предпочтение обитанию в хвойных и тропических лесах, встречается на болотах и равнинах.'
            },
            {
                Text: 'Кугуар (пума) – умелый охотник и превосходный хищник. Имеет очень острое зрение, поэтому пума охотится в сумерках и темное время суток. В некоторых случаях выходит на охоту и днем. У этой хищной кошки своя тактика охоты, она великий стратег.'
            },
            {
                Text: 'Дикое животное пума подкрадывается к добыче с подветренной стороны, чтобы она не учуяла ее запах. Нападение пумы происходит посредством прыжка на спину жертве, после чего горный лев ломает шею добыче или хватает зубами за горло и начинает душить.'
            }
        ]
    -
        var listAnimalsHeader = ['Наименование', 'Тип', 'Отряд', 'Семейство', 'Популяция(тыс)', 'Средняя длина тела (см)', 'Ареал обитания']
          
    -
        var listAnimals = [
            {
                Name: 'Лев',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: '20',
                AverageBodyLength: '250',
                HabitatArea: 'Африка'
            },
            {
                Name: 'Лев',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: '20000',
                AverageBodyLength: '250',
                HabitatArea: 'Африка'
            },
            {
                Name: 'Тигр',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: '3900',
                AverageBodyLength: '300',
                HabitatArea: 'Азия'
            },
            {
                Name: 'Пума',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: '50000',
                AverageBodyLength: '120',
                HabitatArea: 'Северная и Южная Америка'
            },
            {
                Name: 'Африканская дикая собака',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Собачьи',
                Population: '6000',
                AverageBodyLength: '760',
                HabitatArea: 'Африка'
            },
            {
                Name: 'Гиена',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Гиеновые',
                Population: '100000',
                AverageBodyLength: '95',
                HabitatArea: 'Африка, Азия'
            },
            {
                Name: 'Совка',
                Type: 'Птица',
                Squad: 'Хищные',
                Family: 'Совиные',
                Population: 'неизвестно',
                AverageBodyLength: '30',
                HabitatArea: 'Всемирный'
            },
            {
                Name: 'Крокодил',
                Type: 'Рептилия',
                Squad: 'Хищные',
                Family: 'Крокодиловые',
                Population: '200000',
                AverageBodyLength: '400',
                HabitatArea: 'Африка, Азия, Америка'
            },
            {
                Name: 'Серый волк',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Собачьи',
                Population: '300000',
                AverageBodyLength: '130',
                HabitatArea: 'Северная Америка, Европа, Азия'
            },
            {
                Name: 'Черноспинный ястреб',
                Type: 'Птица',
                Squad: 'Хищные',
                Family: 'Ястребиные',
                Population: 'неизвестно',
                AverageBodyLength: '60',
                HabitatArea: 'Северная и Южная Америка'
            },
            {
                Name: 'Бурый медведь',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Медвежьи',
                Population: '200000',
                AverageBodyLength: '250',
                HabitatArea: 'Северная Америка, Европа, Азия'
            },
            {
                Name: 'Орлан',
                Type: 'Птица',
                Squad: 'Хищные',
                Family: 'Орлиные',
                Population: 'немного менее 50000',
                AverageBodyLength: '95',
                HabitatArea: 'Северная Америка, Азия, Европа'
            },
            {
                Name: 'Соболь',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Орехоградные',
                Population: 'неизвестно',
                AverageBodyLength: '60',
                HabitatArea: 'Евразия и Северная Америка'
            },
            {
                Name: 'Летучая мышь',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Летучие мыши',
                Population: 'неизвестно',
                AverageBodyLength: '10',
                HabitatArea: 'Всемирный'
            },
            {
                Name: 'Пантера',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: 'недостаточно изучена',
                AverageBodyLength: '180',
                HabitatArea: 'Африка, Азия, Южная Америка'
            },
            {
                Name: 'Таракан',
                Type: 'Насекомое',
                Squad: 'Хищные',
                Family: 'Таракановые',
                Population: 'везде',
                AverageBodyLength: '4',
                HabitatArea: 'Всемирный'
            },
            {
                Name: 'Акула белая',
                Type: 'Рыба',
                Squad: 'Хищные',
                Family: 'Акуловые',
                Population: 'неизвестно',
                AverageBodyLength: '600',
                HabitatArea: 'Умеренные и тропические моря'
            },
            {
                Name: 'Флоридская окрашенная черепаха',
                Type: 'Рептилия',
                Squad: 'Хищные',
                Family: 'Черепашьи',
                Population: 'неизвестно',
                AverageBodyLength: '30',
                HabitatArea: 'Северная Америка'
            },
            {
                Name: 'Кобра',
                Type: 'Рептилия',
                Squad: 'Хищные',
                Family: 'Семеглиевые',
                Population: 'неизвестно',
                AverageBodyLength: '300',
                HabitatArea: 'Африка, Азия'
            },
            {
                Name: 'Лев',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: '20000',
                AverageBodyLength: '250',
                HabitatArea: 'Африка'
            },
            {
                Name: 'Тигр',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: '3900',
                AverageBodyLength: '300',
                HabitatArea: 'Азия'
            },
            {
                Name: 'Пума',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: '50000',
                AverageBodyLength: '120',
                HabitatArea: 'Северная и Южная Америка'
            },
            {
                Name: 'Африканская дикая собака',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Собачьи',
                Population: '6000',
                AverageBodyLength: '760',
                HabitatArea: 'Африка'
            },
            {
                Name: 'Гиена',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Гиеновые',
                Population: '100000',
                AverageBodyLength: '95',
                HabitatArea: 'Африка, Азия'
            },
            {
                Name: 'Совка',
                Type: 'Птица',
                Squad: 'Хищные',
                Family: 'Совиные',
                Population: 'неизвестно',
                AverageBodyLength: '30',
                HabitatArea: 'Всемирный'
            },
            {
                Name: 'Крокодил',
                Type: 'Рептилия',
                Squad: 'Хищные',
                Family: 'Крокодиловые',
                Population: '200000',
                AverageBodyLength: '400',
                HabitatArea: 'Африка, Азия, Америка'
            },
            {
                Name: 'Серый волк',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Собачьи',
                Population: '300000',
                AverageBodyLength: '130',
                HabitatArea: 'Северная Америка, Европа, Азия'
            },
            {
                Name: 'Черноспинный ястреб',
                Type: 'Птица',
                Squad: 'Хищные',
                Family: 'Ястребиные',
                Population: 'неизвестно',
                AverageBodyLength: '60',
                HabitatArea: 'Северная и Южная Америка'
            },
            {
                Name: 'Бурый медведь',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Медвежьи',
                Population: '200000',
                AverageBodyLength: '250',
                HabitatArea: 'Северная Америка, Европа, Азия'
            },
            {
                Name: 'Орлан',
                Type: 'Птица',
                Squad: 'Хищные',
                Family: 'Орлиные',
                Population: 'немного менее 50000',
                AverageBodyLength: '95',
                HabitatArea: 'Северная Америка, Азия, Европа'
            },
            {
                Name: 'Соболь',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Орехоградные',
                Population: 'неизвестно',
                AverageBodyLength: '60',
                HabitatArea: 'Евразия и Северная Америка'
            },
            {
                Name: 'Летучая мышь',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Летучие мыши',
                Population: 'неизвестно',
                AverageBodyLength: '10',
                HabitatArea: 'Всемирный'
            },
            {
                Name: 'Пантера',
                Type: 'Млекопитающее',
                Squad: 'Хищные',
                Family: 'Кошачьи',
                Population: 'недостаточно изучена',
                AverageBodyLength: '180',
                HabitatArea: 'Африка, Азия, Южная Америка'
            },
            {
                Name: 'Таракан',
                Type: 'Насекомое',
                Squad: 'Хищные',
                Family: 'Таракановые',
                Population: 'везде',
                AverageBodyLength: '4',
                HabitatArea: 'Всемирный'
            },
            {
                Name: 'Акула белая',
                Type: 'Рыба',
                Squad: 'Хищные',
                Family: 'Акуловые',
                Population: 'неизвестно',
                AverageBodyLength: '600',
                HabitatArea: 'Умеренные и тропические моря'
            },
            {
                Name: 'Флоридская окрашенная черепаха',
                Type: 'Рептилия',
                Squad: 'Хищные',
                Family: 'Черепашьи',
                Population: 'неизвестно',
                AverageBodyLength: '30',
                HabitatArea: 'Северная Америка'
            },
            {
                Name: 'Кобра',
                Type: 'Рептилия',
                Squad: 'Хищные',
                Family: 'Семеглиевые',
                Population: 'неизвестно',
                AverageBodyLength: '300',
                HabitatArea: 'Африка, Азия'
            }
        ]