extends template
block nav
	nav
		div.nav_image
			img(src= require("./images/" + listImagesNew[1]))
		div.nav_main
			+createMenu(dictMenu, 'Главная')

block content
	div.content__image
		div.content__image-puma
			a(href= "building.html")
				img(src= require("./images/" + listImagesNew[4]))
		h3='Пума'
		p='Пума выглядит сильной кошкой, у нее очень гибкое тело, с длинным мускулистым хвостом. Лапы приспособлены для лазания по деревьям. Пума имеет короткую и густую шерсть.'
		p='Длина тела пумы 100-180 см, длина хвоста 60-75 см. Высота в холке 60-90 см, вес пумы может достигать 100 кг. Примечательно, что самцы значительно крупнее самок. Средний вес женских особей колеблется в пределах 30-50 кг, а мужских – 60-80 кг.'
		p='Пума – заграничный представитель больших диких кошек. Живет пума в Северной и Южной Америке, населяет довольно большую площадь, - от Юкона (Канада) до Патагонии (Южная Америка).'
	article
		each item in listSections
			+createSection(item)
	
		
				
